# Импорты

In [16]:
import os
import sys

# Добавляем корневую директорию проекта в sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "../../")))

In [17]:
# Импортируем функции предобработки из utils
from utils import preprocess_functions as ppf
from utils import metrics as mtc

In [18]:
import re


import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity


import joblib
import itertools

# Загружаем разделенные данные

In [19]:
reference = pd.read_csv("../../data/reference.csv")
train = pd.read_csv("../../data/splited/train.csv")
valid = pd.read_csv("../../data/splited/valid.csv")
test = pd.read_csv("../../data/splited/test.csv")

In [20]:
reference.head(1)

   id      name              region
0  69  Кировска  Мурманская область

In [21]:
train.head(1)

                              name  school_id
0  Москва, ГБУ МАФКК школа "Мечта"        102

# Обработка reference.region

In [22]:
reference.region = reference.region.apply(ppf.simple_preprocess_text).str.lower()

In [23]:
region_dict = joblib.load("../../resources/general/region_dict.joblib")

# joblib.dump(region_dict, "../../resources/general/region_dict.joblib")

In [24]:
for reference_region in reference.region.sort_values().unique():
    if reference_region not in region_dict:
        for region in region_dict:
            if reference_region in region_dict[region]:
                reference.region = reference.region.str.replace(
                    f"{reference_region}", f"{region}"
                )
                print(f"{reference_region} -> {region}")

набережные челны -> республика татарстан
северодвинск -> архангельская область

In [25]:
for reference_region in reference.region.sort_values().unique():
    if reference_region not in region_dict:
        print(f"Unknown region: {reference_region}")

Unknown region: республика саха
Unknown region: республика чувашия
Unknown region: хмао югра
Unknown region: ямало ненецкий ао

In [26]:
reference.region = reference.region.str.replace(
    "республика саха",
    "республика саха якутия",
)
reference.region = reference.region.str.replace(
    "республика чувашия",
    "чувашская республика",
)
reference.region = reference.region.str.replace(
    "хмао югра",
    "ханты мансийский автономный округ",
)
reference.region = reference.region.str.replace(
    "ямало ненецкий ао",
    "ямало ненецкий автономный округ",
)

In [27]:
reference.head()

   id               name                   region
0  69           Кировска       мурманская область
1  70    Клин спортивный       московская область
2  71       КО СШ по ЗВС  калининградская область
3   8            Айсберг     свердловская область
4  73  Команда Дмитриева      челябинская область

In [28]:
reference.to_csv("../../data/preprocessed/general/reference.csv", index=False)

# Простая обработка текста

In [13]:
reference["new"] = reference.name.apply(ppf.simple_preprocess_text).str.lower()
reference.new = reference.new.apply(ppf.replace_numbers_with_text)

In [14]:
reference.loc[[187, 51], :]

      id       name             region        new
187  206  СШОР No 1  самарская область  сшор один
51    53  ДЮСШ No 1  тюменская область  дюсш один