# Ноутбук предобработки данных

In [1]:
import pandas as pd
import re

In [2]:
train = pd.read_csv("../data/splited/train.csv")
valid = pd.read_csv("../data/splited/valid.csv")

In [3]:
train.head()

                                    name  school_id
0        Москва, ГБУ МАФКК школа "Мечта"        102
1         Калужская область, СШ "Космос"         78
2           МО 7-й округ, ООО "Династия"         49
3                     АНФСО СКФК Спартак        164
4  Челябинская область, ИП Дмитриев А.А.         73

In [4]:
def preprocess_text(text):
    # Приведение к нижнему регистру
    text = text.lower()
    # Удаление пунктуации
    text = re.sub(r"[^\w\s]", " ", text)
    # Удаление лишних пробелов
    text = re.sub(r"\s+", " ", text)
    # Удаление пробелов в начале и в конце
    text = text.strip()
    return text

In [5]:
train.name = train.name.apply(preprocess_text)
train.head()

                                  name  school_id
0         москва гбу мафкк школа мечта        102
1          калужская область сш космос         78
2            мо 7 й округ ооо династия         49
3                   анфсо скфк спартак        164
4  челябинская область ип дмитриев а а         73

In [6]:
valid.name = valid.name.apply(preprocess_text)
valid.head()

                                name  school_id
0           санкт петербург спб сшор        198
1     липецкая область мауо до сш 11        184
2  москва ано лига фигурного катания        293
3         кфк динамо санкт петербург        277
4   ленинградская область мбау всшор         35

In [7]:
train.to_csv("../data/preprocessed/simple/train.csv", index=False)
valid.to_csv("../data/preprocessed/simple/valid.csv", index=False)