In [1]:
import re

import pandas as pd

In [2]:
reference = pd.read_csv("../data/reference.csv")

In [3]:
reference.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      305 non-null    int64
 1   name    305 non-null    object
 2   region  305 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.3+ KB

In [4]:
def preprocess_text(text):
    # Приведение к нижнему регистру
    text = text.lower()
    # Удаление пунктуации
    text = re.sub(r"[^\w\s]", " ", text)
    # Удаление лишних пробелов
    text = re.sub(r"\s+", " ", text)
    # Удаление пробелов в начале и в конце
    text = text.strip()
    return text

In [7]:
reference["reference"] = reference.region + ", " + reference.name
reference["region"] = reference.region.apply(preprocess_text)
reference["reference"] = reference["reference"].apply(preprocess_text)
reference["reference_region"] = reference.name.apply(preprocess_text)
reference.head()

,id,name,region,reference,reference_region
0,69,Кировска,мурманская область,мурманская область кировска,кировска
1,70,Клин спортивный,московская область,московская область клин спортивный,клин спортивный
2,71,КО СШ по ЗВС,калининградская область,калининградская область ко сш по звс,ко сш по звс
3,8,Айсберг,свердловская область,свердловская область айсберг,айсберг
4,73,Команда Дмитриева,челябинская область,челябинская область команда дмитриева,команда дмитриева

In [9]:
reference[["id", "reference"]].to_csv(
    "../data/preprocessed/simple/reference.csv", index=False
)
reference[["id", "region", "reference_region"]].to_csv(
    "../data/preprocessed/cosine_region/reference.csv", index=False
)

:

In [18]:
reference[reference["id"] == 101]

     id          reference
96  101  москва медведково