In [22]:
import pandas as pd

In [23]:
schools_df = pd.read_csv("../data/schools.csv", sep=";")
schools_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             306 non-null    int64
 1   name           306 non-null    object
 2   palace         47 non-null     object
 3   skate_types    4 non-null      object
 4   site           46 non-null     object
 5   address        48 non-null     object
 6   region         306 non-null    object
 7   katok          5 non-null      object
 8   phone          47 non-null     object
 9   instagram      4 non-null      object
 10  official_name  80 non-null     object
 11  department     47 non-null     object
 12  director       47 non-null     object
dtypes: int64(1), object(12)
memory usage: 31.2+ KB

In [24]:
matches_df = pd.read_csv("../data/matches.csv", sep=";")
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921 entries, 0 to 920
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   school_id  921 non-null    int64
 1   name       919 non-null    object
 2   id         921 non-null    int64
dtypes: int64(2), object(1)
memory usage: 21.7+ KB

In [25]:
schools = schools_df[["id", "name", "region"]].copy()
matches = matches_df[["name", "school_id"]].copy()

In [26]:
schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      306 non-null    int64
 1   name    306 non-null    object
 2   region  306 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.3+ KB

In [27]:
schools.head()

   id               name                   region
0  69           Кировска       Мурманская область
1  70    Клин спортивный       Московская область
2  71       КО СШ по ЗВС  Калининградская область
3   8            Айсберг     Свердловская область
4  73  Команда Дмитриева      Челябинская область

In [28]:
schools.sort_values(by="name").head()

        id                                    name                 region
237    274  "Голден Айс Петергоф" (ГБУ СШ "Манеж")        Санкт-Петербург
292   1839                  "Ледовая арена Кириши"  Ленинградская область
285    609                          "СШ "Гвоздика"  Удмуртская республика
198  99999                                       *                      *
201      5                    Ice Dream / Айс Дрим        Санкт-Петербург

In [29]:
schools = schools.query("id != 99999")

Удаляем из эталонных названий школу с названием "*". Все другие оставляем "как есть", поскольку именно так они записаны в базе данных. При обучении моделей мы будем использовать эти данные, предварительно предобработанные по единому правилу с данными пользовательского ввода

In [30]:
schools.sort_values(by="name").tail()

      id    name                region
210  265  Юность             ХМАО-Югра
197  264  Юность  Свердловская область
219  266  Юность  Чувашская Республика
221  263  Юность    Мурманская область
220  267    Ямал     Ямало-Ненецкий АО

In [31]:
schools.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305 entries, 0 to 305
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      305 non-null    int64
 1   name    305 non-null    object
 2   region  305 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.5+ KB

In [32]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921 entries, 0 to 920
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       919 non-null    object
 1   school_id  921 non-null    int64
dtypes: int64(1), object(1)
memory usage: 14.5+ KB

In [33]:
matches.head()

                                                name  school_id
0                  Московская область, СШ "Авангард"          1
1                                ЯНАО, СШ "Авангард"          2
2      Республика Татарстан, МБУ СШОР "ФСО "Авиатор"          3
3  Республика Татарстан, МБУ СШОР "ФСО "Авиатор""...          3
4             Республика Татарстан, СШОР ФСО Авиатор          3

Выявим пропуски в таблице матчинга

In [34]:
matches[matches.name.isna()]
ids_with_na = matches[matches.name.isna()]["school_id"].values

Количества пользовательских вводов наименований для школ с пропусками достаточно. Удалим строки с пропусками.

In [35]:
len(matches.query("school_id in @ids_with_na"))

21

In [36]:
matches.query("school_id in @ids_with_na")

                                                name  school_id
350               Санкт-Петрбург, СК ФК Т. Москвиной        105
351          Санкт-Петербург, АНО СК ФК Т. Москвиной        105
352    Санкт-Петербург, АНО "СК ФК Тамары Москвиной"        105
353          Санкт-Петербург, СК ФК Тамары Москвиной        105
354                                              NaN        105
355               Санкт-Петербург, СК ФК Т.Москвиной        105
356                                СК ФК Т Москвиной        105
357                             АНО СКФК Т.Москвиной        105
358                                СК ФК Т.Москвиной        105
359                      АНО "СКФК Тамары Москвиной"        105
592                      ГБУ СШОР Колпинского района        192
593         Санкт-Петербург, СШОР Колпинского района        192
594          Санкт-Петрбург, СШОР Колпинского района        192
595                                              NaN        192
596               ГБУ ДО СШОР Колпинского района СПб        192
597                  СПб ГБУ СШОР Колпинского района        192
598  МО г. Колпино, ГБУ ДО СШОР Колпинского р-на СПб        192
599       МО г.Колпино, ГБУ ДО СШОР Колпинского р-на        192
600                                     СШОР Колпино        192
601                 ГБУ ДО СШОР Колпинского р-на СПб        192
602         СШОР Колпинского района, Санкт-Петербург        192

In [37]:
matches = matches[~matches.name.isna()]
matches.reset_index(drop=True, inplace=True)
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       919 non-null    object
 1   school_id  919 non-null    int64
dtypes: int64(1), object(1)
memory usage: 14.5+ KB

Разделим данные на тренировочную, валидационную и тестовую выборки в соотношении 0.6:0.2:0.2.

Тестовую выборку будем использовать только для тестирования итогового инференса.

Валидационную выборку будем использовать для валидации различных инференсов.

Реализация кросс-валидации не планируется, но возможна.

In [38]:
from sklearn.model_selection import train_test_split

In [40]:
train, valid_test = train_test_split(matches, test_size=0.4, shuffle=True)

valid, test, valid, test = train_test_split(
    valid_test, valid_test, test_size=0.5, shuffle=True
)

print(
    train.shape,
    valid.shape,
    test.shape,
)

(551, 2) (184, 2) (184, 2)

In [41]:
train.to_csv("../data/splited/train.csv", index=False)
valid.to_csv("../data/splited/valid.csv", index=False)
test.to_csv("../data/splited/test.csv", index=False)

In [42]:
schools.to_csv("../data/reference.csv", index=False)